{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": ["error", 200, 4],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/destructuring-assignment": ["always", { "ignoreClassFields": true }],
    "arrow-body-style": "off",
    "no-confusing-arrow": "off",
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
